<!-- <navbar ng-controller="NavbarLoginCtrl"></navbar> -->

<div class="login-paper" layout="column" layout-align="center center" flex>
  <div class="login-container md-whiteframe-z2">
    <div class="login-logo">
      <img ng-src="assets/images/yeoman.png" alt="smart paper" />
    </div>
    <form class="login-form" name="loginForm" ng-submit="login(loginForm)" novalidate>
      <md-input-container>
        <label>Email</label>
        <input name="email" type="email" ng-model="user.email" required>
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">email harus di isi.</div>
          <div ng-message="email">email salah, silahkan periksa kembali.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" required>
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">password harus di isi.</div>
        </div>
      </md-input-container>
      <br>
      <md-button class="md-raised md-button-full md-accent">Sign In</md-button>
    </form>
  </div>
</div>