
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// ignore injector
@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';
@import 'scss/_icons.scss';
@import 'scss/_flaticon.scss';
@import 'scss/_utilities.scss';
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'sidebar/sidebar.scss';
// endinjector


.browsehappy {
  margin: 0;
  padding: 8px 16px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #f44336;
  color: #fff;
  a{
    &,
    &:focus,
    &:active,
    &:visited{
      color: rgba(#fff, 54);
    }
    &:hover{
      color: rgba(#fff, 12);
    }
  }
}

.app-content{
  background-color: #EEEEEE;
}


// md buttons
.md-button-full{
  width: 100%;
  display: block;
}


// form validation
md-input-container{
  [ng-messages],
  ng-messages{
    visibility: hidden;
  }

  &.md-input-invalid{
    [ng-messages],
    ng-messages{
      visibility: visible;
    }
  }
}