/**
 * App-wide Styles
 */
.app{
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// ignore injector
@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';
@import 'scss/_icons.scss';
@import 'scss/_flaticon.scss';
@import 'scss/_utilities.scss';
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'paper/paper-item/paper-item.scss';
@import 'paper/paper.scss';
@import 'menus/menus.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'search/search.scss';
@import 'sidebar/sidebar.scss';
// endinjector


.browsehappy {
  margin: 0;
  padding: 8px 16px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #f44336;
  color: #fff;
  a{
    &,
    &:focus,
    &:active,
    &:visited{
      color: rgba(#fff, 54);
    }
    &:hover{
      color: rgba(#fff, 12);
    }
  }
}

.app-content{
  background-color: #EEEEEE;
}


// md buttons
.md-button-full{
  width: 100%;
  display: block;
}


// form validation
md-input-container{
  [ng-messages],
  ng-messages{
    visibility: hidden;
  }

  &.md-input-invalid{
    [ng-messages],
    ng-messages{
      visibility: visible;
    }
  }
}

// fix md-sub-header
.md-subheader{
  margin-right: 0;
  font-weight: 500;

  &:not(.md-sticky-no-effect):after{
    right: 0;
  }
}


// md-divider issue
md-divider[md-inset]{
  margin-left: 76px;
}


// label & badge
.label,
.badge{
  display: inline-block;
  min-width: 10px;
  margin: 0 ($baseline-grid/2);
  padding: ($baseline-grid/2) $baseline-grid;
  font-size: 12px;
  font-weight: 500;
  color: $base-darkgrey;
  line-height: 13px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: $base-border;
  border-radius: 2px;

  &:first-child{
    margin-left: 0;
  }
}
.badge{
  border-radius: 24px;
}