
// Component styles are injected through grunt
// ignore injector
@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';
@import 'scss/_icons.scss';
@import 'scss/_flaticon.scss';
@import 'scss/_utilities.scss';
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'paper/paper-creator/paper-creator.scss';
@import 'paper/paper-info/paper-info.scss';
@import 'paper/paper-item/paper-item.scss';
@import 'paper/paper.scss';
@import 'menus/menus.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'search/search.scss';
@import 'sidebar/sidebar.scss';
// endinjector

/**
 * App-wide Styles
 */
.app{
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #212121;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.browsehappy {
  margin: 0;
  padding: 8px 16px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #f44336;
  color: #fff;
  a{
    &,
    &:focus,
    &:active,
    &:visited{
      color: rgba(#fff, 54);
    }
    &:hover{
      color: rgba(#fff, 12);
    }
  }
}

.app-content{
  // dont initialize position, its will be create issue on z-index
  // position: relative;
  display: flex !important;
  height: 100%;
}

[ui-view].ng-enter {
  position: absolute;
  left: 0;
  right: 0;
  transition: $swift-ease-in-out;
  transition-delay: .2s;
}

// md buttons
.md-button-full{
  width: 100%;
  display: block;
}


// form validation
md-input-container{
  [ng-messages],
  ng-messages{
    visibility: hidden;
  }

  &.md-input-invalid{
    [ng-messages],
    ng-messages{
      visibility: visible;
    }
  }
}

// fix md-sub-header
.md-subheader{
  margin-right: 0;
  font-weight: 500;

  &:not(.md-sticky-no-effect):after{
    right: 0;
  }
}


// md-divider issue
md-divider[md-inset]{
  margin-left: 76px;
}


// label & badge
.label,
.badge{
  display: inline-block;
  min-width: 10px;
  margin: 0 ($baseline-grid/2);
  padding: ($baseline-grid/2) $baseline-grid;
  font-size: 12px;
  font-weight: 500;
  color: $base-darkgrey;
  line-height: 13px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: $base-border;
  border-radius: 2px;

  &:first-child{
    margin-left: 0;
  }
}
.badge{
  border-radius: 24px;
}


// checker tile
.checker-tile{
  display: inline-block;

  img{
    width: 32px;
    height: auto;
    border-right: 32px;
  }
  .tile-text{
    position: relative;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    transition: $swift-ease-in-out;
    border: 1px solid transparent;

    md-icon{vertical-align: baseline;}

    > *:first-child,
    > *:last-child{
      transition-delay: .2s;
    }
    > *:first-child:not(i){
      visibility: visible;
    }
    > *:last-child:not(i){
      visibility: hidden;
    }
  }
  .tile-checked{
    transform: scaleX(-1);
    background-color: $base-darkgrey !important;
    color: $base-light !important;
    > *:first-child:not(i){
      visibility: hidden;
    }
    > *:last-child:not(i){
      transform: scaleX(-1);
      visibility: visible;
    }
  }
}