// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// For Background Helper
// -------------------------
.bg-primary{
  background: $base-primary;
  color: $base-light;
}
.bg-accent{
  background: $base-accent;
  color: $base-light;
}
.bg-warn{
  background: $base-warn;
  color: $base-light;
}

// For Color Helper
// -------------------------
.color-primary{
  color: $base-primary;
}
.color-accent{
  color: $base-accent;
}
.color-warn{
  color: $base-warn;
}
.color-secondary{
  color: $base-darkgrey;
}
.bg-primary,
.bg-accent,
.bg-warn{
  .color-secondary{
    color: $base-darkgrey;
  }
}