<md-toolbar class="app-bar md-primary" md-scroll-shrink="{{navbar.scrollShrink}}" md-shrink-speed-factor="{{navbar.scrollShrinkSpeed}}">
  <div class="md-toolbar-tools">
    <!-- rendering navbar sidebar control:ifany -->
    <md-button class="first"
        aria-label="toggle sidebar"
        ng-if="navbar.isSidenavControll"
        ng-click="toggleSidenav()">
            <md-icon md-font-icon="flaticon flaticon-md flaticon-menu55" alt="toggle sidebar"></md-icon>
    </md-button>

    <!-- rendering navbar brand -->
    <span>{{ navbar.brand }}</span>
    <!-- fill up the space between left and right area -->

    <search ng-class="{'velocity-transition-fadeIn': isOpenSearch}" ng-show="isOpenSearch"></search>

    <!-- pull to right -->
    <span flex></span>

    <!-- rendering navbar btn -->
    <md-button class="ng-cloak" ng-cloak ng-repeat="btn in navbar.buttons"
        ng-if="btn.needAuth"
        ng-href="{{btn.link}}"
        ng-click="btnEvent(btn.action.ngClick)"
        ng-class="{{btn.action.ngClass}}"
        ng-show="{{btn.action.ngShow}}"
        ng-hide="{{btn.action.ngHide}}"
        aria-label="action {{ $index+1 }}"
        ng-bind-html="btn.label"><md-tooltip>{{ btn.tooltip }}</md-tooltip></md-button>

    <!-- rendering navbar search -->
    <md-button ng-if="navbar.isSearchBtn"
        ng-keydown="closeEsc($event)"
        ng-click="openSearch()"
        aria-label="search"><md-icon md-font-icon="flaticon flaticon-md flaticon-search100" alt="search"></md-icon></md-button>

    <!-- rendering navbar menu -->
    <menus class="last"
        ng-if="navbar.menu.display"
        data-items="navbar.menu.lists"
        data-icon="flaticon flaticon-md flaticon-show8"
        data-aria="more"
        data-align="right"></menus>
  </div>
</md-toolbar>