.navbar{
  min-height: $app-bar-height;
  z-index: 3;
}
.app-bar{
  .md-toolbar-tools > *{
    margin-right: $baseline-grid;
  }
  .md-toolbar-tools{
    > .first{
      // margin-left: -($baseline-grid*1);
      margin-right: ($baseline-grid*2.5);
    }
    > .last{
      // margin-right: -($baseline-grid*1);
    }
  }
}