<md-toolbar class="app-bar md-primary" md-scroll-shrink="{{scrollShrink}}" md-shrink-speed-factor="{{scrollShrinkSpeed}}">
  <div class="md-toolbar-tools" ng-class="{{size}}">
    <!-- rendering navbar sidebar control:ifany -->
    <md-button class="first" aria-label="toggle sidebar" ng-if="navbar.isSidenavControll" ng-click="toggleSidenav()"><md-icon md-font-icon="flaticon flaticon-md flaticon-menu55" alt="toggle sidebar"></md-icon></md-button>

    <!-- rendering navbar brand -->
    <span>{{ navbar.brand }}</span>
    <!-- fill up the space between left and right area -->

    <!-- pull to right -->
    <span flex></span>

    <!-- rendering navbar search -->
    <md-button ng-if="navbar.isSearchBtn" ng-click="" aria-label="search"><md-icon md-font-icon="flaticon flaticon-md flaticon-search100" alt="search"></md-icon></md-button>

    <!-- rendering navbar btn -->
    <md-button ng-repeat="btn in navbar.buttons" ng-if="(btn.needAuth === isLoggedIn())" ng-href="{{btn.link}}" ng-click="btnEvent(btn.action)">{{btn.label}}</md-button>

    <!-- rendering navbar menu -->
    <menus class="menus last" ng-if="navbar.menu.display" ng-class="{open: isOpen()}">
        <md-button ng-click="" aria-label="more">
            <md-icon md-font-icon="flaticon flaticon-md flaticon-show8" alt="more"></md-icon>
        </md-button>
        <ul class="menus-dropdown">
            <li ng-repeat="menu in navbar.menu.lists" md-ink-ripple="#aaa" md-ripple-size="full" class="menus-item" ng-class="{active: isActive(menu.route)}">
                <a ng-href="{{menu.route}}">{{menu.label}}</a>
            </li>
        </ul>
    </menus>
  </div>
</md-toolbar>