.paper-app{
  overflow: hidden;
}
.paper-table{
  overflow-y: auto;

  .paper-list{
    md-item-content {
      padding: 0 ($baseline-grid*2);
      cursor: pointer;
      .flaticon{
        color: $base-darkgrey;
      }
    }
  }

  .paper-tile{
    img{
      width: 32px;
      height: auto;
      border-right: 32px;
    }
    .tile-text{
      width: 24px;
      line-height: 24px;
      font-size: 16px;
      overflow: hidden;
      text-align: center;
      border-radius: 2px;
      background-color: $base-accent;
      color: $base-light-solid;
    }
  }
}

.paper-info-sidenav{

  @media (max-width: $layout-breakpoint-sm){
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  md-toolbar.md-default-theme{
    background-color: #fafafa;
    color: $base-darkgrey;

    .md-button{
      color: inherit;
    }
  }

  .md-toolbar-tools{

    > .first{
      margin-left: -($baseline-grid*1);
      margin-right: $baseline-grid;
    }
    > .last{
      margin-right: -($baseline-grid*1);
    }
  }
}