.paper-app{
  overflow: hidden;
}
.paper-table{
  overflow-y: auto;
  z-index: 1;
  padding: 16px 0;
}

.paper-info-sidenav{

  @media (max-width: $layout-breakpoint-sm){
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  md-toolbar.md-default-theme{
    background-color: auto;

    .md-button{
      color: inherit;
    }
  }

  .md-toolbar-tools{

    > .first{
      margin-left: -($baseline-grid*1);
      margin-right: $baseline-grid;
    }
    > .last{
      margin-right: -($baseline-grid*1);
    }
  }
}