<!-- .paper-app -->
<md-content ng-if="isLoggedIn() && isAdmin()" layout="row" class="paper-app" layout-fill flex>
  <!-- .paper-table -->
  <md-content layout="column" flex>
    <!-- define app navbar -->
    <navbar></navbar>
    <!-- /.navbar -->

    <!-- .paper-content -->
    <md-content layout="row" flex>
      <!-- wrapper to place md-subheader -->
      <md-content layout="column" class="paper-table md-whiteframe-z1" flex>
        <!-- paper-content -->
        <md-content layout="column">
          <!-- paper-list -->
          <div class="paper-list">
            <!-- item-header -->
            <div class="paper-header" layout="row" hide-sm hide-md hide-lg>
              <md-content layout="row" class="md-padding" layout-wrap flex>
                <div flex="55" flex-md="70">Judul Paper</div>
                <div flex>Lencana</div>
                <div flex="10">Penulis</div>
                <div flex="10">Terupdate</div>
              </md-content>
            </div><!-- /item-header -->

            <!-- item-subheader -->
            <!-- <md-subheader class="md-default">Hari ini</md-subheader> -->

            <!-- items -->
            <paper-item ng-repeat="paper in papers" class="velocity-transition-fadeIn"></paper-item>
          </div><!-- /paper-list -->
        </md-content><!-- /paper-content -->

        <!-- floating-actions -->
        <md-button class="md-fab md-accent md-fab-bottom-right" aria-label="buat paper baru">
          <md-icon md-font-icon="flaticon flaticon-md flaticon-add186"></md-icon>
        </md-button><!-- /floating-actions -->
      </md-content><!-- /.paper-table -->

      <md-content class="paper-info" layout="column" hide-sm hide-md hide-lg>
        <pre>{{ papers | json:2 }}</pre>
      </md-content>
    </md-content><!-- .paper-content -->
  </md-content><!-- /wrapper -->


  <!-- .paper-info:display on medium device -->
  <md-sidenav md-component-id="paper-info-sidenav" class="paper-info-sidenav md-sidenav-right" layout="column" hide-gt-lg layout-fill>
    <md-toolbar class="md-tall">
      <h2 class="md-toolbar-tools">
        <md-button hide-gt-md class="first" ng-click="closePaperInfo()" aria-label="close info">
          <i class="flaticon flaticon-md flaticon-go10"></i>
        </md-button>
      </h2>
      <p class="md-toolbar-tools md-toolbar-tools-bottom">Lorem ipsum dolor sit amet</p>
    </md-toolbar>
    <md-content class="md-padding">
      <pre>{{ papers | json:2 }}</pre>
    </md-content>
  </md-sidenav><!-- /.paper-info -->

</md-content><!-- /.paper-app