.sidebar{
  .sidebar-head{
    background-image: url(../assets/images/covers/default.jpg);
    background-size: cover;
  }

  md-toolbar{
    margin-bottom: $baseline-grid;
  }

  md-content{
    background-color: transparent;
    overflow: hidden;
  }

  .user-avatar{
    position: relative;
    display: inline-block;
    img{
      width: 56px;
      height: auto;
      border: 1px solid transparent;
      border-radius: 56px;
    }
  }

  .user-displayname,
  .user-desc{
    font-size: 14px;
    display: block;
    color: #fff;
  }
  .user-displayname{
    font-weight: 500;
  }
  .user-act{
    line-height: 1;
    color: #fff;
    font-size: 1.2em;
    .md-button{
      top: -6px;
    }
  }
}


.sidebar-menu{
  margin: $baseline-grid 0 0;
  padding: 0;
  list-style: none;
  .menu-list{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    > a{
      display: block;
      padding: $baseline-grid ($baseline-grid*2);
      color: $fg-dark;
      text-decoration: none;
      line-height: 32px;

      .menu-icon{
        display: block;
        float: left;
        width: 72px - ($baseline-grid*2);
        color: $fg-darkgrey;
        i{
          line-height: 32px;
        }
      }
      .menu-label{
        display: block;
        color: inherit;
      }

      &:hover,
      &:focus,
      &:active{
        color: #000;
      }
    }

    &.active{
      a{
        background-color: #e8e8e8;
        color: #8E24AA;

        .menu-icon{
          color: inherit;
        }
      }
    }
  }
}