md-content.paper-creator,
.paper-creator{
  background-color: $base-background;
  overflow: auto;

  form{
    margin: ($baseline-grid*2) auto;
    width: 100%;
  }
}

pc-card{
  position: relative;
  display: block;
  margin: ($baseline-grid*2) auto;
  background-color: #ffffff;
  width: 960px;
  transform: scaleX(.9);
  max-width: 100%;
  box-shadow: $whiteframe-shadow-z1;
  transition: all .2s $swift-ease-in-out-timing-function;

  paper-card{
    width: auto;
  }

  &:first-child{
    margin-top: ($baseline-grid*2);
  }
  &:last-child{
    margin-bottom: ($baseline-grid*2);
  }

  pc-card-header{
    display: block;
    padding: $baseline-grid ($baseline-grid*2);
    border-left: 2px solid transparent;
    cursor: pointer;
    user-select: none;

    .helper-text{
      font-size: 13px;
      line-height: 2;
      color: $base-darkgrey;
      font-style: italic;
    }

    p{
      margin: 0;
    }
  }

  pc-card-content{
    display: block;
    max-height: 0;
    padding: 0 ($baseline-grid*2);
    border-top: 1px solid $base-border;
    overflow: hidden;
    visibility: hidden;
    // transition: $swift-ease-in-out;
  }

  &.focus{
    pc-card-header {
      border-left-color: $base-accent;
    }
  }

  &.expand{
    margin-top: ($baseline-grid*4);
    margin-bottom: ($baseline-grid*4);
    box-shadow: $whiteframe-shadow-z2;
    transform: scale(1);
    &:first-child{
      margin-top: ($baseline-grid*2.5);
    }

    pc-card-header{
      cursor: default;
      pointer-events: auto;
      .helper-text{display: none}
    }
    pc-card-content{
      max-height: 10000px;
      padding: ($baseline-grid*2);
      overflow: auto;
      visibility: visible;
      font-size: .9em;
    }
  }
}

.qustions-container{
  position: relative;
  display: block;
  padding: $baseline-grid ($baseline-grid*2);
  margin: ($baseline-grid*2) (-$baseline-grid*2) 0;
  cursor: pointer;
  transition: all .2s $swift-ease-in-out-timing-function;
  overflow-x:hidden;

  & + &{
    margin-top: 0;
  }

  .question-actions{
    display: block;
    margin-top: $baseline-grid;
    transition: all .2s $swift-ease-in-out-timing-function;
    transform: translateY(-180%);
    visibility: hidden;
  }
  &:hover{
    background-color: rgba(black, .05);

    .question-actions{
      visibility: visible;
      transform: translateY(0);
    }
  }
}