md-content.paper-info,
.paper-info{
  font-size: 14px;
  width: 320px;
  z-index: 0;

  .paper-info-title{
    margin: 0;
    font-size: 20px;
    font-weight: normal;
  }

  .paper-info-details{
    padding: ($baseline-grid*2) 0;

    p{
      margin: 0;
      line-height: ($baseline-grid*4);

      &.label-info-detail{
        font-size: 13px;
      }
    }
  }
}
md-sidenav md-content.paper-info,
md-sidenav .paper-info{
  width: auto;
}